@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  //signin, signup
  .background-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/north_background_login_desktop.png) no-repeat center;
    background-size: cover;
  }
  .background-content {
    background-image: url(/register_banner_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
  }
  .btn-shadow {
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.2);
  }

  .header {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);
  }

  .sidebar {
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.05);
  }
  //Home
  .container {
    max-width: 1200px !important;
  }

  .center-slider {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -20%);
  }

  .bg_title {
    background: url(./home_line.webp) no-repeat center;
    width: 315px;
    height: 30px;
  }
  body::-webkit-scrollbar {
    display: none !important;
  }

  //slider
  .slick-prev,
  .slick-next {
    width: 32px !important;
    height: 32px !important;
    z-index: 1 !important;
    color: white !important;
  }
  .slick-prev {
    left: 10% !important;
  }
  .slick-next {
    right: 10% !important;
  }

  //Header-HomePage
  @media only screen and (max-width: 767px) {
    .menu {
      position: fixed;
      top: 0;
      background: #292929c7;
      width: 50vw;
      height: 100vh;
      border-left: 1px solid #f0f0f0;
      right: -100%;
      z-index: 3;
      transition: all 0.5s ease;
    }
    .show__menu {
      right: 0 !important;
    }
  }
}
